<hr>
<div class="containe">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <ul class="nav nav-tabs">
                <li class="active"><a routerLink="sign-up">Home</a></li>
                <li><a routerLink="question-page"  *ngIf="authService.isAuthenticated()">Question</a></li>
                <li><a style="cursor: pointer" (click)="logout()" *ngIf="authService.isAuthenticated()">LogOut</a></li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
