<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-10">
            <hr>
            <div class="form-group">
                <label for="question-name">Enter the Question</label>
                <input type="text" class="form-control" [(ngModel)]="questionName">
            </div>
            <div class="form-group">
                <label for="post-body">Body</label>
                <app-editor
                    [elementId]="'post-body'"
                    (onEditorKeyup)="onBodyEditorKeyUp($event)"
                ></app-editor>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" (click)="onSubmit()">Submit Question</button>
            </div>
        </div>
    </div>
</div>


